/*=========================================================
// JumboTron / Background elements / Page Body Font control
=============================================================*/
.jumbotron{
    background-image: url("https://i.imgur.com/RUEkGW2.jpg");
    background-size: cover;
}
#mainJumbo{
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85)), url("https://i.imgur.com/ql80BgQ.jpg");
  background-position: center;
  background-size: cover;
  text-align: left;
}
#contactJumbo{
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85)), url("https://i.imgur.com/1M9Do4s.jpg");
  background-position: top;
  background-size: cover;
  text-align: left;
}
#mainJumCont{
  text-align: left;
}
.bg{
  height: 100%;
  background-image: url("https://i.imgur.com/RUEkGW2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.resultsPage, .mainPageBody, .surveyPage, .contactPageBody{
  font-family: 'Khand', sans-serif;
  color: white;
}
body{
  margin-top: 50px;
  background-color: #141414;
}
label{
  font-weight: bold;
}
option{
  font-weight: bold;
}
#grenadeFlavoredWater{
  font-family: 'Khand', sans-serif;
  font-size: .25em;
  color: white;
  text-align: center;
}
.jumboText{
  font-size: 1.15em;
}
.jumboText2{
  font-size: 1.01em;
}
.copywrite{
  margin: 0px;
}
.navbar{
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85)), url("https://i.imgur.com/ql80BgQ.jpg");
  background-position: top;
}
#contactNav{
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85)), url("https://i.imgur.com/1M9Do4s.jpg");
  background-position: top;
}
#surveyNav{
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.85)), url("https://i.imgur.com/RUEkGW2.jpg");
  background-position: top;
}
/* ===========================================================*/
/* Accordion Controls
===============================================================*/

#accOne, #accTwo, #accThree, #accFour{
  font-family: 'Khand', sans-serif;
  color: white;
  background-color: #2b2b2b;
  /* font-weight: bold; */
  font-size: .55em;
  text-align: left;
  text-decoration: none;
}
#accOne:hover, #accTwo:hover, #accThree:hover, #accFour:hover{
  text-decoration: none;
}
#collapseOne, #collapseTwo, #collapseThree, #collapseFour{
  font-family: 'Khand', sans-serif;
  color: white;
  background-color: #1f1f1f;
  text-align: left;
  font-weight: medium;
}
.card{
  background-color: #141414;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
}
.accordion{
  font-size: 1.08em;
}
#headingOne, #headingTwo, #headingThree, #headingFour{
  text-align: left;
  background-color: #2b2b2b;
}
.card-body{
  text-align: left;
}
#accOne[aria-expanded="true"], #accTwo[aria-expanded="true"], #accThree[aria-expanded="true"], #accFour[aria-expanded="true"]{
  font-weight: bold;
}
[aria-expanded="true"] .fas.fa-chevron-down,
[aria-expanded="false"] .fas.fa-chevron-up{
    display:none;
}
.card-header i{
  position: absolute;
  right: 13px;
}
/* ===========================================================*/
/* // Modal Tool Kit
 ==============================================================*/

 .imgcontainer{
   width: 100%;
   display: block;
   text-align: center;
 }
 .modal-header{
   background-color: #141414;
   border-bottom: none;
 }
 .modal-body, #badModal, #contactSent{
   background-color: #21242e;
   border-bottom: none;
 }
 #hibachiText{
   color: white;
 }
 a, #hibachiText:hover{
   text-decoration: none !important;
   outline: none;
 }
 .modal-footer{
   border-top: none;
 }
 #whiteSpaceModal{
   white-space: pre-line;
   font-weight: bold;
 }
 .close{
   font-size: 50px;
   color: white;
 }
/*==============================================================
// Form Tool Kit
================================================================*/

#hiddenForm{
  font-family: 'Khand', sans-serif;
  font-weight: bold;
  color: white;
  visibility: hidden;
}
#inputFN4, #inputYrsEmp, #inputBusType4, #inputIdeaImpact, #inputFreud, #inputImpAttrib, #contactFN4, #emailType4, #contactCat, #contactTags, #contactIdeaInput, #instaInput{
  font-weight: bold;
  background-color: #2f2f2f;
  color: #ffffff;
  border-color: #2f2f2f;
}
.form-control::select {
  background-color: #2f2f2f;
}
select.customDrop {
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
}
.far.fa-claret-square-down{
  color: white;
  position: absolute;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
  font-weight: bold;
  opacity: 0.6 !important;
}
.form-control::-webkit-input-placeholder { /* Mozilla Firefox 19+ */
  color: white;
  font-weight: bold;
  opacity: 0.6 !important;
}
#mashupCont{
  text-align: center:
}
#conclusionsMashup{
  color: white;
  text-align: center;
}
#mash{
  text-align: center;
}
#contactUs{
  font-family: 'Khand', sans-serif;
  font-weight: bold;
}

/*==========================================================
// Button Controls
============================================================*/
#cousinBut{
  font-family: 'Khand', sans-serif;
  text-align: center;
  font-weight: bold;
}
#turtleBut:hover, #amazeBalls:hover, #iniSurvey:hover, #bbiSubmit:hover, #bbiResult:hover, #drawingSchool:hover, #hibachiLink:hover, #badThank:hover, #sendThank:hover{
  color: #FC2629!important;
  background-color: #141414;
  font-weight: bold;
}
#bbiButDiv{
  text-align: center;
}
.button-span{
  width: 275px;
}
